
.navbar-fixed-top {
	z-index: 999;
	height: 4.5em;
}

#myaccdrop li a{
	color: #ffffff;
}

#account-list-options li {
	color: #ffffff;
}

.carousel {
	margin-top: 10px;
	width: 1000px;

}

#myaccdrop li a:hover {
	background-color: #6F751B;
}

#pageContent {
	border-color: black;
}

.btn-rgevents {
	color: #ffffff;
	background-color: #246121;
	border-color: #0E3012;
}

.btn-contact {
	color: #ffffff;
	background-color: #C53337;
	border-color: #7b0704;
}

.btn-about {
	color: #ffffff;
	background-color: #246121;
	border-color: #0E3012;
}

#contactbutton {
	width: 100px;
	position: inherit;
}

#aboutusbutton {
	width: 100px;
	position: inherit;
}

.btn-rgevents:hover,
.btn-rgevents:focus,
.btn-rgevents:active,
.btn-rgevents.active,

#endDate {
	width: 200px;
}

#startDate {
	width: 200px;
}

#search {
	width: 100px;
	position: inherit;
}

#s1 {
	width: 200px;
}

#s2 {
	width: 200px;
}

.landing-page {
	z-index: 500;
}